{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en" class="theme light">
<head>
  <meta charset="utf-8">
  <title>ovitech</title>
  <meta name="app-name" content="export_website">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="_assets/a0684b0780c739e9.vendor.ltr.css" rel="stylesheet">
  <link href="_assets/3eb5febb697edc73.ltr.css" rel="stylesheet">
  <link href="_assets/static_font_4.ltr.css" rel="stylesheet">
  <link rel="shortcut icon" href="_assets/images/2d0b56e7e51cf11036ad8734bdb67e2d.png">
  <link rel="icon" href="_assets/images/e53c4bd8da5e491d9ab09e7cf0daf874.png" sizes="192x192">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="apple-touch-icon" href="_assets/images/725b756a69a7d4c235070e51acd85560.png" sizes="180x180">
  
  
</head>
<body>
  <div class="nav-container">
    <div class="nav-logo">OVITECH</div>
    <div class="hamburger">☰</div>
    <div class="nav-menu">
      <a href="#home">Home</a>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">log out</a>
      {% if user.is_staff %}
      <a href="{% url 'add-project' %}">Upload project</a>
      {% endif %}
      {% else %}
      <a href="{% url 'login' %}">Log in</a>
      {% endif %}
      <a href="#web-designs">Web Designs</a>
      <a href="#live-samples">Live Samples</a>
      <a href="#contact">Contact</a>
    </div>
  </div>

  <div class="main-content">
    <div class="content-card">
      <h1>OVITECH</h1>
      <p>I’m Godson Arthur, a web developer with 3+ years of coding experience.</p>
      <img src="{% static 'image/header-image.png' %}" alt="Profile Image">
      <p class="cta">Let's work together!</p>
    </div>
  </div>

  <div class="live-samples" id="live-samples">
    <h2>Live Samples</h2>
    <div class="samples-container">
      {% for project in projects %}
      <div class="sample-item">
        <img src="{{project.img.url}}" alt="Portfolio Sample">
        <p>{{project.title}}<br>{{project.name}}<br>Date</p>
        <p><a href="{% url 'info' project.pk %}">click for more info</a></p>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="footer-overflow-container">
    <div class="footer-text">Copyright @ ovitech.com</div>
  </div>

  <script src="{% static 'script.js' %}"></script>
  
</body>
</html>